<div class="services-top-grids">
  <div class="container">
    <div class="services-wel wel-head text-center">
      <h3><span>P</span>roperties</h3>
      <p>Below is the result of your search</p>
    </div>
    <% if @properties == nil %>
      
    <% else %>
      <div class="service-grids">
        <% @properties.each do |property| %>
          <div class="col-md-4 service-grid">
            <%= image_tag property.image %>
            <h3><%= property.title %></h3>
            <p><%= property.description %></p>
            <%= link_to 'View', property, :class => 'viewmore-s' %>
          </div>
        <% end %>
        <div class="clearfix"> </div>
      </div>
    <% end %>
  </div>
</div>