User Dashboard

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Book an appointment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book an appointment</h4>
      </div>
      <div class="modal-body">
        <%= form_tag book_appointment_properties_path, :method => 'post' do %>
          Please select your availability:
          <div class='input-group date' id='datetimepicker1'>
            <!-- <input type='text' class="form-control" /> -->
            <%= text_field_tag :availability, params[:availability], :placeholder => 'Select your availability', :class => 'form-control' %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          Message:
          <%= text_area_tag :message, params[:message], :placeholder => 'Enter your message', :class => 'form-control' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Submit", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>