<div class="footer">
	<div class="top-footer">
		<div class="container">
			<div class="top-footer-grids">
				<div class="top-footer-grid">
					<h3>Contact us</h3>
					<ul class="address">
						<li><span class="map-pin"> </span><label>1850 Lincon Avenue, Appartment 101, QC H3H 1H4</label></li>
						<li><span class="mob"> </span>(438) 998-4649</li>
						<li><span class="msg"> </span><a href="#">saad_ghouri75@yahoo.com</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</div>
</div>